#ifndef _Color_template_
#define _Color_template_

#include "Vector.template"

namespace james
{
	namespace core
	{
		template<class T>
		class Color
		{
		public:
			T red;
			T green;
			T blue;
		};
	}
}

#endif
