#ifndef _Vector_template_
#define _Vector_template_

#include "Matrix.template"

namespace gbc
{
	namespace core
	{
		template<class T, const int size>
		class Vector : public Matrix<T, 1, size>
		{
		public:
			Vector()
				: Matrix<T, 1, size>(), _vectorElements(_matrixElements[0])
			{
			}
			
			virtual ~Vector()
			{
			}
		
		protected:
			using Matrix<T, 1, size>::_matrixElements;
			
			Array<T, size> &_vectorElements;
		};
	}
}

#endif
