#ifndef _Vector2_template_
#define _Vector2_template_

#include "Vector.template"

namespace james
{
	namespace core
	{
		template<class T>
		class Vector2 : public Vector<T, 2>
		{
		  public:
			Vector2 (T newX, T newY)
				: Vector<T, 2>(), x (_vectorElements[0]), y (_vectorElements[1])
			{
				x = newX;
				y = newY;
			}

			~Vector2()
			{
			}

		  public:
			T& x;
			T& y;

		  protected:
			using Vector<T, 2>::_vectorElements;
		};
	}
}

#endif
