#ifndef _Vector_template_
#define _Vector_template_

#include "Matrix.template"

namespace gbc
{
	namespace core
	{
		template<class T>
		class Vector : public Matrix<T>
		{
		public:
			Vector(int size)
				: Matrix<T>(1, size), _vectorElements(_elements[0])
			{
			}
			
			virtual ~Vector()
			{
			}
		
		protected:
			using Matrix<T>::_elements;
			
			T *_vectorElements;
		};
	}
}

#endif
